$theme-colors: (
  "primary": #5a8684,
  "secondary": #bbfae3
);
@import "node_modules/bootstrap/scss/bootstrap";

html,
body,
container-fluid {
  height: 100% !important;
}
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}