$theme-colors: (
  "info": #46bda1,
  "primary": #0ec7b7
);
$enable-responsive-font-sizes: true;
$grid-columns: 50;

@import "node_modules/bootstrap/scss/bootstrap";

html {
  font-size: 0.5rem;
}
body {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.material-icons {
  transform: scale(0.5);
}
.signout {
  transform: scale(0.70);
}
.modal-dialog {
  max-width: 70% !important;
  margin: 0 auto;
}
.collapsing {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.8rem;
  }
  .material-icons {
    transform: scale(1);
  }
  .signout {
  transform: scale(1.25);
  }
  .modal-dialog {
    max-width: 70% !important;
    margin: 0 auto;
  }
}


@include media-breakpoint-up(md) {
  html {
    font-size: 1.1rem;
  }
  .material-icons {
    transform: scale(1.5);
  }
  .signout {
  transform: scale(1.75);
  }
  .modal-dialog {
    max-width: 70% !important;
    margin: 0 auto;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.4rem;
  }
  .material-icons {
    transform: scale(1.6);
  }
  .signout {
  transform: scale(2.0);
  }
  .modal-dialog {
    max-width: 70% !important;
    margin: 0 auto;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 1.4rem;
  }
  .material-icons {
    transform: scale(1.6);
  }
  .signout {
  transform: scale(2.0);
  }
  .modal-dialog {
    margin: 0 auto;
    max-width: 70% !important;
  }
}

