<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/index.css">
    <link rel="icon" href="../static/mapleleaf.png" type="image/gif" sizes="16x16">

    <title>Fresh Maplewood</title>

    <style>
        body {
            animation: fadeInAnimation ease 2s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
    
        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
    
            100% {
                opacity: 1;
            }
        }
    </style>
</head>

<body>
    <div class="container-fluid bg-light">
        <div class="row py-3 text-white border-bottom border-dark align-items-center text-center" 
            style="background-image: linear-gradient( rgb(91, 192, 222), #46bda1); border-bottom-width: 15px;">
            <div class="col-3">
                <h4 class="my-0">Course</h4>
            </div>
            <div class="col-3">
                <h4 class="my-0">Teacher</h4>
            </div>
            <div class="col-2">
                <h4 class="my-0">Last Updated</h4>
            </div>
            <div class="col-1">
                <h4 class="my-0">Absent</h4>
            </div>
            <div class="col-1">
                <h4 class="my-0">Excused</h4>
            </div>
            <div class="col-1">
                <h4 class="my-0">Late</h4>
            </div>
            <div class="col-1">
                <a class="text-white my-0" href="/signin">Sign out</a>
            </div>
        </div>
        {% for course in courses %}
        <div class="row py-3 bg-info text-white border-bottom border-light align-items-center text-center">
            <div class="col-3">
                {% if course["name"] in aliases %}
                <h5 class="my-0">{{ aliases[course["name"]] }}</h5>
                {% else %}
                <h5 class="my-0">{{ course["name"] }}</h5>
                {% else %}
            </div>
            <div class="col-3">
                <h5 class="my-0">{{ course["teacher"] }}</h5>
            </div>
            <div class="col-2">
                <h5 class="my-0">{{ course["lastUpdated"] }}</h5>
            </div>
            <div class="col-1">
                <h5 class="my-0">{{ course["absent"] }}</h5>
            </div>
            <div class="col-1">
                <h5 class="my-0">{{ course["excused"] }}</h5>
            </div>
            <div class="col-1">
                <h5 class="my-0">{{ course["late"] }}</h5>
            </div>
            <div class="col-1">
                <button class="btn btn-light text-info" type="button" 
                    data-toggle="collapse" data-target="#{{ course['code'] }}" 
                    aria-expanded="false" aria-controls="{{ course['code'] }}"
                    {% if not course["lastUpdated"] %}disabled{% endif %}>Marks</button>
            </div>
        </div>
        <div class="collapse" id="{{ course['code'] }}">
            <table class="table">
                <thead class="bg-success text-white">
                    <tr>
                        <th scope="col" style="width: 30%;">Category/Item</th>
                        <th scope="col" style="width: 20%;">Percentage</th>
                        <th scope="col" style="width: 10%;">Mark</th>
                        <th scope="col" style="width: 10%;">Denominator</th>
                        <th scope="col" style="width: 10%;">Weight</th>
                        <th scope="col" style="width: 20%;">Date</th>
                    </tr>
                </thead>
                {% for unit in course["units"] %}
                <thead class="table-info">
                    <tr>
                        <th scope="col">{{ unit["name"] }}</th>
                        {% if unit["mark"] %}
                        <th scope="col">{{ "%.2f"|format(unit["mark"] / unit["denominator"] * 100) }}%</th>
                        <th scope="col">{{ "%.2f"|format(unit["mark"]) }}</th>
                        {% else %}
                        <th scope="col"></th>
                        <th scope="col"></th>
                        {% endif %}
                        <th scope="col">{{ unit["denominator"] }}</th>
                        <th scope="col">{{ unit["weight"] }}</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% if unit["has sections"] %}
                    {% for section in unit["sections"] %}
                    <thead class="table-active">
                        <tr>
                            <th scope="col">{{ section["name"] }}</th>
                            {% if section["mark"] %}
                            <th scope="col">{{ "%.2f"|format(section["mark"] / section["denominator"] * 100) }}%</th>
                            <th scope="col">{{ "%.2f"|format(section["mark"]) }}</th>
                            {% else %}
                            <th scope="col"></th>
                            <th scope="col"></th>
                            {% endif %}
                            <th scope="col">{{ section["denominator"] }}</th>
                            <th scope="col">{{ section["weight"] }}</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for assignment in section["assignments"] %}
                        <tr>
                            <td scope="col">{{ assignment["name"] }}</td>
                            {% if assignment["mark"] %}
                            <th scope="col">{{ "%.2f"|format(assignment["mark"] / assignment["denominator"] * 100) }}%</th>
                            {% else %}
                            <th scope="col"></th>
                            {% endif %}
                            <td scope="col">{{ assignment["mark"] }}</td>
                            <td scope="col">{{ assignment["denominator"] }}</td>
                            <td scope="col">{{ assignment["weight"] }}</td>
                            <td scope="col">{{ assignment["date"] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% endfor %}
                {% else %}
                <tbody>
                    {% for assignment in unit["assignments"] %}
                    <tr>
                        <td scope="col">{{ assignment["name"] }}</td>
                        {% if assignment["mark"] %}
                        <th scope="col">{{ "%.2f"|format(assignment["mark"] / assignment["denominator"] * 100) }}%</th>
                        {% else %}
                        <th scope="col"></th>
                        {% endif %}
                        <td scope="col">{{ assignment["mark"] }}</td>
                        <td scope="col">{{ assignment["denominator"] }}</td>
                        <td scope="col">{{ assignment["weight"] }}</td>
                        <td scope="col">{{ assignment["date"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        {% endfor %}
        </div>

        
    </div>
    <!-- Footer -->
    <div class="container-fluid py-5 align-items-center text-center" style="background-image: linear-gradient(#46bda1, rgb(91, 192, 222))">
        <div class="row py-1">
            <div class="col">
                <h4 class="text-light">
                    Fresh Maplewood
                </h4>
            </div>
        </div>
        <div class="row py-2">
            <div class="col">
                <h6 class="text-light">
                    by Michael Xu
                </h6>
            </div>
        </div>
    </div>
    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>   
</body>

</html>