<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/index/index.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png?v=E6waylrdrd">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png?v=E6waylrdrd">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png?v=E6waylrdrd">
    <link rel="manifest" href="/static/icons/site.webmanifest?v=E6waylrdrd">
    <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg?v=E6waylrdre" color="#bbfae3">
    <link rel="shortcut icon" href="/static/icons/favicon.ico?v=E6waylrdrd">
    <meta name="msapplication-TileColor" content="#5a8684">
    <meta name="msapplication-config" content="/static/icons/browserconfig.xml?v=E6waylrdrd">
    <meta name="theme-color" content="#5a8684">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">

    <title>Fresh Maplewood</title>

    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input {
            -moz-appearance: textfield;
            margin: 0rem 0.2rem;
            border: none;
            display: inline;
            font-size: inherit;
            padding: 0;
            text-decoration: inherit;
            background-color: inherit;
            font-weight: inherit;
            font-style: inherit;
            padding: 0rem 0.2rem;
            width: 3.5rem;
        }

        input:focus {
            outline-color: #5a8684;
        }

        .numerator {
            text-align: right;
        }

        .denominator {
            text-align: left;
        }

        .percentage {
            display: inline-block;
            text-align: right;
            padding: 0rem 0.2rem;
            margin: 0rem 0.2rem;
            width: 3.5rem;
        }

        .weight {
            text-align: center;
        }

        .textMarkInput {
            display: none;
        }

        .textMarkSpan {
            display: inline-block;
            text-align: right;
            padding: 0rem 0.2rem;
            margin: 0rem 0.2rem;
            width: 3.5rem;
        }
    </style>
</head>

<body style="background-color: #2f585b;">
    <div class="container-fluid">
        <!-- header (course | mark | updated | details) -->
        <div class="row py-3 text-secondary align-items-center text-center py-0 header border-bottom">
            <div class="container inner-container">
                <div class="row align-items-center">
                    <!-- course -->
                    <div class="col-20">
                        <h4 class="my-0">Course</h4>
                    </div>
                    <!-- mark -->
                    <div class="col-12">
                        <!-- GPA -->
                        <div class="collapse" id="GPA">
                            <button class="markHeader btn btn-outline-primary text-secondary" type="button" data-toggle="collapse" aria-expanded="false" data-target="#courseMark,#markButton,#markHeader,#GPA{% if waterlooGPA %},#waterlooGPA,#updatedHeader{% endif %}">
                                <h4 class="my-0 mx-0">{{ '%.2f'|format(GPA) }}%</h4>
                            </button>
                        </div>
                        <!-- marks header button -->
                        <div class="collapse show" id="markHeader">
                            <button class="markHeader btn btn-outline-primary text-secondary" type="button" data-toggle="collapse" aria-expanded="false" data-target="#courseMark,#markButton,#markHeader,#GPA{% if waterlooGPA %},#waterlooGPA,#updatedHeader{% endif %}">
                                <h4 class="my-0 mx-0">Mark</h4>
                            </button>
                        </div>
                    </div>
                    <!-- updated -->
                    <div class="col-12">
                        {% if waterlooGPA %}
                        <div class="collapse" id="waterlooGPA">
                            <h4 class="my-0 mx-0">{{ '%.2f'|format(waterlooGPA) }}%</h4>
                        </div>
                        <!-- marks header button -->
                        <div class="collapse show" id="updatedHeader">
                            <h4 class="my-0">Updated</h4>
                        </div>
                        {% else %}
                        <h4 class="my-0">Updated</h4>
                        {% endif %}
                    </div>
                    <!-- sign out -->
                    <div class="col-6">
                        <a class="text-secondary my-0 " href="/signin">
                            <i class="material-icons signout">exit_to_app</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- loop through courses -->
        {% for course in courses %}

        <!-- course row -->
        <div class="row py-3 bg-primary text-secondary border-bottom border-light align-items-center text-center">
            <div class="container inner-container">
                <div class="row align-items-center">
                    <!-- name -->
                    <div class="col-20">
                        <button class="courseMark btn btn-outline-primary text-secondary" type="button" data-toggle="modal" data-target="#{{ course['code'] }}_details" aria-expanded="false" aria-controls="{{ course['code'] }}_details" {% if not course['mark'] %}disabled{% endif %}>
                            <h5 class="d-inline my-0 text-center">
                                {% if course['name'] in aliases %}
                                {{ aliases[course['name']] }}
                                {% else %}
                                {{ course['name'] }}
                                {% endif %}
                            </h5>
                        </button>
                    </div>
                    <!-- mark button -->
                    <div class="col-12">
                        <!-- mark shown -->
                        <div class="collapse" id="courseMark">
                            <button class="courseMark btn btn-outline-primary text-secondary" type="button" data-toggle="modal" data-target="#{{ course['code'] }}_marks" aria-expanded="false" aria-controls="{{ course['code'] }}_marks" {% if not course['updated'] %}disabled{% endif %}>
                                <h5 class="my-0">
                                    {% if course['mark'] %}
                                    {{ '%.2f'|format(course['mark']) }}%
                                    {% else %}
                                    N/A
                                    {% endif %}
                                </h5>
                            </button>
                        </div>
                        <!-- mark hidden -->
                        <div class="collapse show my-0" id="markButton">
                            <button class="{% if course['mark'] %}btn btn-secondary text-primary{% else %}btn btn-outline-primary text-secondary{% endif %}" type="button" data-toggle="modal" data-target="#{{ course['code'] }}_marks" aria-expanded="false" aria-controls="{{ course['code'] }}_marks" {% if not course['updated'] %}disabled{% endif %}>
                                <h5 class="my-0">
                                    {% if course['mark'] %}
                                    Marks
                                    {% else %}
                                    N/A
                                    {% endif %}
                                </h5>
                            </button>
                        </div>
                    </div>
                    <!-- updated -->
                    <div class="col-12">
                        <div class="align-middle mt-1">
                            <h5 {% if not course['updated'] %}style="opacity: 0.65;" {% endif %}>
                                {% if course['updated'] %}
                                {{ course['updated'] }}
                                {% else %}
                                N/A
                                {% endif %}
                            </h5>
                        </div>
                    </div>
                    <!-- updated today -->
                    <div class="col-6">
                        {% if course['updated today'] %}
                        <a data-toggle="modal" data-target="#{{ course['code'] }}_updates" role="button" aria-expanded="false" aria-controls="{{ course['code'] }}_updates">
                            <i class="material-icons my-0 new-releases">new_releases</i>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- details -->
        <div class="modal fade keyboard" id="{{ course['code'] }}_details" tabindex="-1" role="dialog" aria-labelledby="#{{ course['code'] }}_details" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content rounded-0">
                    <!-- modal header -->
                    <div class="modal-header text-secondary header rounded-0">
                        <div class="container-fluid">
                            <div class="row">
                                <h5 class="modal-title" id="modalLabel">{{ course['name'] }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <p class="h6 pt-1" style="margin-left: -15px; opacity: 0.8;">{{ course['teacher'] }}</p>
                        </div>
                    </div>
                    <!-- modal body -->
                    <div class="modal-body bg-primary text-secondary">
                        <div class="container-fluid">
                            <div class="row text-center py-2">
                                <div class="col">
                                    <h5>Absent</h5>
                                </div>
                                <div class="col">
                                    <h5>Excused</h5>
                                </div>
                                <div class="col">
                                    <h5>Late</h5>
                                </div>
                            </div>
                            <div class="row text-center py-2">
                                <div class="col">
                                    <h5>{{ course['absent'] }}</h5>
                                </div>
                                <div class="col">
                                    <h5>{{ course['excused'] }}</h5>
                                </div>
                                <div class="col">
                                    <h5>{{ course['late'] }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- marks -->
        <div class="modal fade keyboard" id="{{ course['code'] }}_marks" tabindex="-1" role="dialog" aria-labelledby="#{{ course['code'] }}_marks" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg my-3 modal-dialog-scrollable" role="document">
                <div class="modal-content rounded-0">
                    <!-- modal header -->
                    <div class="modal-header text-secondary header rounded-0" style="width: 100%;">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <h5 class="modal-title" id="modalLabel">{{ course['name'] }}</h5>
                                    </div>
                                    <div class="row">
                                        <h6 class="pt-1" style="opacity: 0.8;">{{ course['teacher'] }}</h6>
                                    </div>
                                </div>
                                <div class="col-5 mr-0 pr-0">
                                    <div class="row text-right">
                                        <h5 class="modal-title">Mark: </h5>
                                    </div>
                                </div>
                                <div class="col-13 ml-0 pl-0">
                                    <div class="row text-left">
                                        <h5 class="modal-title" id="{{ course['code'] }}_initial_mark">{% if course['mark'] %}{{ '%.2f'|format(course['mark']) }}%{% else %}N/A{% endif %} </h5>
                                        <h5 class="modal-title dimmed arrow" id="{{ course['code'] }}_mark_arrow">→</h5>
                                        <h5 class="modal-title" id="{{ course['code'] }}_final_mark"></h5>
                                    </div>
                                    <div class="row text-left">
                                        <p class="my-0" id="{{ course['code'] }}_difference"></p>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- modal body -->
                    <div class="modal-body text-secondary" id="{{ course['code'] }}_marks_body">
                        <table class="table">
                            <!-- header -->
                            <thead class="bg-primary text-secondary">
                                <tr>
                                    <th scope="col" class="align-middle" style="width: 30%;">Category/Item</th>
                                    <th scope="col" class="align-middle text-center" style="width: 15%;">Percentage</th>
                                    <th scope="col" class="align-middle text-center" style="width: 25%;">Mark</th>
                                    <th scope="col" class="align-middle text-center" style="width: 10%;">Weight</th>
                                    <th scope="col" class="align-middle" style="width: 20%;">Date</th>
                                </tr>
                            </thead>

                            {% for unit in course['units'] %}
                            <!-- unit header -->
                            <thead class="table-primary">
                                <tr>
                                    <th scope="col" class="align-middle">
                                        {{ unit['name'] }}
                                    </th>
                                    {% if unit['mark'] == 'NHI' or unit['mark'] == 'INC' %}
                                    <th class="align-middle text-center">
                                        <span class="percentage">0%</span>
                                    </th>
                                    <th class="align-middle text-center font-weight-light">
                                        <span class="textMarkSpan">{{ unit['mark'] }}</span><input step="any" min="0" type="number" value="0" class="textMarkInput" />/<input step="any" min="0" type="number" value={{ '%.2f' |format(unit['denominator']) }} class="denominator" />
                                    </th>
                                    {% elif unit['mark'] == 'EXC' or unit['mark'] == 'ABS' or unit['mark'] == 'COL' %}
                                    <th class="align-middle text-center">
                                        <span class="percentage"></span>
                                    </th>
                                    <th class="align-middle text-center font-weight-light">
                                        <span class="textMarkSpan">{{ unit['mark'] }}</span><input step="any" min="0" type="number" value="" class="textMarkInput" />/<input step="any" min="0" type="number" value={{ '%.2f' |format(unit['denominator']) }} class="denominator" />
                                    </th>
                                    {% elif unit['mark'] %}
                                    <th class="align-middle text-center">
                                        <span class="percentage">{{ '%.2f' |format(unit['mark'] / unit['denominator'] * 100) }}%</span>
                                    </th>
                                    <th class="align-middle text-center font-weight-normal">
                                        <input step="any" min="0" type="number" value={{ '%.2f' |format(unit['mark']) }} class="numerator" />/<input step="any" min="0" type="number" value={{ '%.2f' |format(unit['denominator']) }} class="denominator" />
                                    </th>
                                    {% else %}
                                    <th class="align-middle text-center">
                                        <span class="percentage"></span>
                                    </th>
                                    <th class="align-middle text-center font-weight-normal">
                                        <input step="any" min="0" type="number" value="" class="numerator" />/<input step="any" min="0" type="number" value={{ '%.2f' |format(unit['denominator']) }} class="denominator" />
                                    </th>
                                    {% endif %}
                                    <th class="align-middle text-center font-weight-normal">
                                        <input step="any" min="0" type="number" value={{ '%.2f' |format(unit['weight']) }} class="weight" />
                                    </th>
                                    <th class="align-middle font-weight-normal"></th>
                                </tr>
                            </thead>
                            {% if unit['has sections'] %}
                            {% for section in unit['sections'] %}
                            <!-- section header -->
                            <thead class="table-active">
                                <tr>
                                    <td scope="col" class="align-middle font-italic">
                                        {{ section['name'] }}
                                    </td>
                                    {% if section['mark'] == 'NHI' or section['mark'] == 'INC' %}
                                    <td class="align-middle text-center">
                                        <span class="percentage">0%</span>
                                    </td>
                                    <td class="align-middle text-center font-weight-light">
                                        <span class="textMarkSpan">{{ section['mark'] }}</span><input step="any" min="0" type="number" value="0" class="textMarkInput" />/<input step="any" min="0" type="number" value={{ '%.2f' |format(section['denominator']) }} class="denominator" />
                                    </td>
                                    {% elif section['mark'] == 'EXC' or section['mark'] == 'ABS' or section['mark'] == 'COL' %}
                                    <td class="align-middle text-center">
                                        <span class="percentage"></span>
                                    </td>
                                    <td class="align-middle text-center font-weight-light">
                                        <span class="textMarkSpan">{{ section['mark'] }}</span><input step="any" min="0" type="number" value="" class="textMarkInput" />/<input step="any" min="0" type="number" value={{ '%.2f' |format(section['denominator']) }} class="denominator" />
                                    </td>
                                    {% elif section['mark'] %}
                                    <td class="align-middle text-center">
                                        <span class="percentage">{{ '%.2f' |format(section['mark'] / section['denominator'] * 100) }}%</span>
                                    </td>
                                    <td class="align-middle text-center font-weight-normal">
                                        <input step="any" min="0" type="number" value={{ '%.2f' |format(section['mark']) }} class="numerator" />/<input step="any" min="0" type="number" value={{ '%.2f' |format(section['denominator']) }} class="denominator" />
                                    </td>
                                    {% else %}
                                    <td class="align-middle text-center">
                                        <span class="percentage"></span>
                                    </td>
                                    <td class="align-middle text-center font-weight-normal">
                                        <input step="any" min="0" type="number" value="" class="numerator" />/<input step="any" min="0" type="number" value={{ '%.2f' |format(section['denominator']) }} class="denominator" />
                                    </td>
                                    {% endif %}
                                    <td class="align-middle text-center font-weight-light">
                                        <input step="any" min="0" type="number" value={{ '%.2f' |format(section['weight']) }} class="weight" />
                                    </td>
                                    <td class="align-middle"></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for assignment in section['assignments'] %}
                                <!-- assignment -->
                                <tr {% if assignment['updated today'] %}class="bg-secondary" {% endif %}>
                                    <td scope="row" class="align-middle">
                                        {{ assignment['name'] }}
                                        {% if assignment['comment'] %}
                                        <a class="ml-1" role="button" tabindex="0" data-trigger="hover" data-trigger="hover" data-toggle="popover" data-container="#{{ course['code'] }}_marks_body" data-content="{{ assignment['comment']['commentContent'] }}">
                                            <i class="material-icons my-0 mx-0 align-middle text-primary commentButton">
                                                comment
                                            </i>
                                        </a>
                                        {% endif %}
                                    </td>
                                    {% if assignment['mark'] == 'NHI' or assignment['mark'] == 'INC' %}
                                    <td class="align-middle text-center">
                                        <span class="percentage">0%</span>
                                    </td>
                                    <td class="align-middle text-center font-weight-light">
                                        <span class="textMarkSpan">{{ assignment['mark'] }}</span><input step="any" min="0" type="number" value="0" class="textMarkInput" />/<input step="any" min="0" type="number" value={{ '%.2f' |format(assignment['denominator']) }} class="denominator" />
                                    </td>
                                    {% elif assignment['mark'] == 'EXC' or assignment['mark'] == 'ABS' or assignment['mark'] == 'COL' %}
                                    <td class="align-middle text-center">
                                        <span class="percentage"></span>
                                    </td>
                                    <td class="align-middle text-center font-weight-light">
                                        <span class="textMarkSpan">{{ assignment['mark'] }}</span><input step="any" min="0" type="number" value="" class="textMarkInput" />/<input step="any" min="0" type="number" value={{ '%.2f' |format(assignment['denominator']) }} class="denominator" />
                                    </td>
                                    {% elif assignment['mark'] %}
                                    <td class="align-middle text-center">
                                        <span class="percentage">{{ '%.2f' |format(assignment['mark'] / assignment['denominator'] * 100) }}%</span>
                                    </td>
                                    <td class="align-middle text-center font-weight-normal">
                                        <input step="any" min="0" type="number" value={{ '%.2f' |format(assignment['mark']) }} class="numerator" />/<input step="any" min="0" type="number" value={{ '%.2f' |format(assignment['denominator']) }} class="denominator" />
                                    </td>
                                    {% else %}
                                    <td class="align-middle text-center">
                                        <span class="percentage"></span>
                                    </td>
                                    <td class="align-middle text-center font-weight-normal">
                                        <input step="any" min="0" type="number" value="" class="numerator" />/<input step="any" min="0" type="number" value={{ '%.2f' |format(assignment['denominator']) }} class="denominator" />
                                    </td>
                                    {% endif %}
                                    <td class="align-middle text-center font-weight-light">
                                        <input step="any" min="0" type="number" value={{ '%.2f' |format(assignment['weight']) }} class="weight" />
                                    </td>
                                    <td class="align-middle font-weight-light">
                                        {{ assignment['date'] }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            {% endfor %}
                            {% else %}
                            <tbody>
                                {% for assignment in unit['assignments'] %}
                                <!-- assignment -->
                                <tr {% if assignment['updated today'] %}class="bg-secondary" {% endif %}>
                                    <td scope="row" class="align-middle">
                                        {{ assignment['name'] }}
                                        {% if assignment['comment'] %}
                                        <a class="ml-1" role="button" tabindex="0" data-trigger="hover" data-trigger="hover" data-toggle="popover" data-container="#{{ course['code'] }}_marks_body" data-content="{{ assignment['comment']['commentContent'] }}">
                                            <i class="material-icons my-0 mx-0 align-middle text-primary commentButton">
                                                comment
                                            </i>
                                        </a>
                                        {% endif %}
                                    </td>
                                    {% if assignment['mark'] == 'NHI' or assignment['mark'] == 'INC' %}
                                    <td class="align-middle text-center">
                                        <span class="percentage">0%</span>
                                    </td>
                                    <td class="align-middle text-center font-weight-light">
                                        <span class="textMarkSpan">{{ assignment['mark'] }}</span><input step="any" min="0" type="number" value="0" class="textMarkInput" />/<input step="any" min="0" type="number" value={{ '%.2f' |format(assignment['denominator']) }} class="denominator" />
                                    </td>
                                    {% elif assignment['mark'] == 'EXC' or assignment['mark'] == 'ABS' or assignment['mark'] == 'COL' %}
                                    <td class="align-middle text-center">
                                        <span class="percentage"></span>
                                    </td>
                                    <td class="align-middle text-center font-weight-light">
                                        <span class="textMarkSpan">{{ assignment['mark'] }}</span><input step="any" min="0" type="number" value="" class="textMarkInput" />/<input step="any" min="0" type="number" value={{ '%.2f' |format(assignment['denominator']) }} class="denominator" />
                                    </td>
                                    {% elif assignment['mark'] %}
                                    <td class="align-middle text-center">
                                        <span class="percentage">{{ '%.2f' |format(assignment['mark'] / assignment['denominator'] * 100) }}%</span>
                                    </td>
                                    <td class="align-middle text-center font-weight-normal">
                                        <input step="any" min="0" type="number" value={{ '%.2f' |format(assignment['mark']) }} class="numerator" />/<input step="any" min="0" type="number" value={{ '%.2f' |format(assignment['denominator']) }} class="denominator" />
                                    </td>
                                    {% else %}
                                    <td class="align-middle text-center">
                                        <span class="percentage"></span>
                                    </td>
                                    <td class="align-middle text-center font-weight-normal">
                                        <input step="any" min="0" type="number" value="" class="numerator" />/<input step="any" min="0" type="number" value={{ '%.2f' |format(assignment['denominator']) }} class="denominator" />
                                    </td>
                                    {% endif %}
                                    <td class="align-middle text-center font-weight-light">
                                        <input step="any" min="0" type="number" value={{ '%.2f' |format(assignment['weight']) }} class="weight" />
                                    </td>
                                    <td class="align-middle font-weight-light">
                                        {{ assignment['date'] }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- updates -->
        {% if course['updated today'] %}
        <div class="modal fade keyboard" id="{{ course['code'] }}_updates" tabindex="-1" role="dialog" aria-labelledby="#{{ course['code'] }}_updates" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg my-3 modal-dialog-scrollable" role="document">
                <div class="modal-content rounded-0">
                    <!-- modal header -->
                    <div class="modal-header text-secondary header rounded-0" style="width: 100%;">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="row">
                                        <h5 class="modal-title" id="modalLabel">{{ course['name'] }}</h5>
                                    </div>
                                    <div class="row">
                                        <p class="h6 pt-1" style="opacity: 0.8;">{{ course['teacher'] }}</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <h5 class="modal-title">Today's Updates</h5>
                                </div>
                                <div class="col-5">
                                    <button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- modal body -->
                    <div class="modal-body text-secondary">
                        <table class="table">
                            <!-- header -->
                            <thead class="bg-primary text-secondary">
                                <tr>
                                    <th scope="col" class="align-middle" style="width: 30%;">Category/Item</th>
                                    <th scope="col" class="align-middle" style="width: 20%;">Percentage</th>
                                    <th scope="col" class="align-middle" style="width: 20%;">Mark</th>
                                    <th scope="col" class="align-middle" style="width: 10%;">Weight</th>
                                    <th scope="col" class="align-middle" style="width: 20%;">Date</th>
                                </tr>
                            </thead>

                            {% for unit in course['units'] %}
                            {% if unit['updated today'] %}
                            <!-- unit header -->
                            <thead class="table-primary">
                                <tr>
                                    <th scope="col" class="align-middle">
                                        {{ unit['name'] }}
                                    </th>
                                    {% if unit['mark'] is string %}
                                    <th class="align-middle text-center">
                                        {{ unit['mark'] }}
                                    </th>
                                    <th class="align-middle text-center font-weight-normal">
                                        {{ unit['mark'] }}
                                    </th>
                                    {% elif unit['mark'] %}
                                    <th class="align-middle">
                                        {{ '%.2f'|format(unit['mark'] / unit['denominator'] * 100) }}%
                                    </th>
                                    <th class="align-middle font-weight-normal">
                                        {{ '%.2f'|format(unit['mark']) }} / {{ '%.2f'|format(unit['denominator']) }}
                                    </th>
                                    {% else %}
                                    <th class="align-middle font-weight-normal"></th>
                                    <th class="align-middle font-weight-normal"></th>
                                    {% endif %}
                                    <th class="align-middle text-center font-weight-normal">
                                        {{ '%.2f'|format(unit['weight']) }}
                                    </th>
                                    <th class="align-middle font-weight-normal"></th>
                                </tr>
                            </thead>
                            {% endif %}
                            {% if unit['has sections'] %}
                            {% for section in unit['sections'] %}
                            {% if section['updated today'] %}
                            <!-- section header -->
                            <thead class="table-active">
                                <tr>
                                    <td scope="col" class="align-middle font-italic">
                                        {{ section['name'] }}
                                    </td>
                                    {% if section['mark'] is string %}
                                    <td class="align-middle text-center">
                                        {{ section['mark'] }}
                                    </td>
                                    <td class="align-middle text-center font-weight-light">
                                        {{ section['mark'] }}
                                    </td>
                                    {% elif section['mark'] %}
                                    <td class="align-middle">
                                        {{ '%.2f'|format(section['mark'] / section['denominator'] * 100) }}%
                                    </td>
                                    <td class="align-middle font-italic font-weight-light">
                                        {{ '%.2f'|format(section['mark']) }} / {{ '%.2f'|format(section['denominator']) }}
                                    </td>
                                    {% else %}
                                    <td class="align-middle"></td>
                                    <td class="align-middle"></td>
                                    {% endif %}
                                    <td class="align-middle font-weight-light">
                                        {{ '%.2f'|format(section['weight']) }}
                                    <td>
                                    <td class="align-middle"></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for assignment in section['assignments'] %}
                                {% if assignment['updated today'] %}
                                <!-- assignment -->
                                <tr {% if assignment['updated today'] %}class="bg-secondary" {% endif %}>
                                    <td scope="row" class="align-middle">
                                        {{ assignment['name'] }}
                                        {% if assignment['comment'] %}
                                        <a class="ml-1" role="button" tabindex="0" data-trigger="hover" data-trigger="hover" data-toggle="popover" data-container="#{{ course['code'] }}_marks_body" data-content="{{ assignment['comment']['commentContent'] }}">
                                            <i class="material-icons my-0 mx-0 align-middle text-primary commentButton">
                                                comment
                                            </i>
                                        </a>
                                        {% endif %}
                                    </td>
                                    {% if assignment['mark'] is string %}
                                    <td class="align-middle font-weight-light">
                                        {{ assignment['mark'] }}
                                    </td>
                                    <td class="align-middle font-weight-light">
                                        {{ assignment['mark'] }}
                                    </td>
                                    {% elif assignment['mark'] %}
                                    <td class="align-middle">
                                        {{ '%.2f'|format(assignment['mark'] / assignment['denominator'] * 100) }}%
                                    </td>
                                    <td class="align-middle font-weight-light">
                                        {{ '%.2f'|format(assignment['mark']) }} / {{ '%.2f'|format(assignment['denominator']) }}
                                    </td>
                                    {% else %}
                                    <td class="align-middle"></td>
                                    <td class="align-middle"></td>
                                    {% endif %}
                                    <td class="align-middle font-weight-light">
                                        {{ '%.2f'|format(assignment['weight']) }}
                                    </td>
                                    <td class="align-middle font-weight-light">
                                        {{ assignment['date'] }}
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                            {% endif %}
                            {% endfor %}
                            {% else %}
                            <tbody>
                                {% for assignment in unit['assignments'] %}
                                {% if assignment['updated today'] %}
                                <!-- assignment -->
                                <tr {% if assignment['updated today'] %}class="bg-secondary" {% endif %}>
                                    <td scope="row" class="align-middle">
                                        {{ assignment['name'] }}
                                        {% if assignment['comment'] %}
                                        <a class="ml-1" role="button" tabindex="0" data-trigger="hover" data-trigger="hover" data-toggle="popover" data-container="#{{ course['code'] }}_marks_body" data-content="{{ assignment['comment']['commentContent'] }}">
                                            <i class="material-icons my-0 mx-0 align-middle text-primary commentButton">
                                                comment
                                            </i>
                                        </a>
                                        {% endif %}
                                    </td>
                                    {% if assignment['mark'] is string %}
                                    <td class="align-middle font-weight-light">
                                        {{ assignment['mark'] }}
                                    </td>
                                    <td class="align-middle font-weight-light">
                                        {{ assignment['mark'] }}
                                    </td>
                                    {% elif assignment['mark'] %}
                                    <td class="align-middle">
                                        {{ '%.2f'|format(assignment['mark'] / assignment['denominator'] * 100) }}%
                                    </td>
                                    <td class="align-middle font-weight-light">
                                        {{ '%.2f'|format(assignment['mark']) }} / {{ '%.2f'|format(assignment['denominator']) }}
                                    </td>
                                    {% else %}
                                    <td class="align-middle"></td>
                                    <td class="align-middle"></td>
                                    {% endif %}
                                    <td class="align-middle font-weight-light">
                                        {{ '%.2f'|format(assignment['weight']) }}
                                    </td>
                                    <td class="align-middle font-weight-light">
                                        {{ assignment['date'] }}
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                            {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Footer -->
    <div class="container-fluid py-5 align-items-center text-center header">
        <div class="row py-1">
            <div class="col">
                <h4 class="text-secondary">
                    Fresh Maplewood
                </h4>
            </div>
        </div>
        <div class="row py-2">
            <div class="col">
                <h6 class="text-secondary">
                    by Michael Xu
                </h6>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
    <script src="../static/liveMarkbookCalculator.js"></script>
    <script>
        let courseNames = {{ courseCodes| safe }};
        courseNames.forEach(makeMarkbookEditable);
        courseNames.forEach(fixDecimals);
    </script>
</body>

</html>