<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/loading/loading.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png?v=E6waylrdrd">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png?v=E6waylrdrd">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png?v=E6waylrdrd">
    <link rel="manifest" href="/static/icons/site.webmanifest?v=E6waylrdrd">
    <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg?v=E6waylrdrd" color="#bbfae3">
    <link rel="shortcut icon" href="/static/icons/favicon.ico?v=E6waylrdrd">
    <meta name="msapplication-TileColor" content="#5a8684">
    <meta name="msapplication-config" content="/static/icons/browserconfig.xml?v=E6waylrdrd">
    <meta name="theme-color" content="#5a8684">

    <title>Loading...</title>
</head>

<body class="bg-primary">
    <div class="container-fluid py-5 align-items-center text-center">
        <div class="row py-2">
            <div class="col">
                <div class="spinner-border text-secondary" style="width: 5rem; height: 5rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.location.href = "/marks";
    </script>
</body>

</html>