<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/loading.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=E6waylrdrd">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=E6waylrdrd">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=E6waylrdrd">
    <link rel="manifest" href="/site.webmanifest?v=E6waylrdrd">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=E6waylrdrd" color="#5a8684">
    <link rel="shortcut icon" href="/favicon.ico?v=E6waylrdrd">
    <meta name="apple-mobile-web-app-title" content="Fresh Maplewood">
    <meta name="application-name" content="Fresh Maplewood">
    <meta name="msapplication-TileColor" content="#5a8684">
    <meta name="theme-color" content="#5a8684">

    <title>Loading...</title>
</head>

<body class="bg-primary">
    <div class="container-fluid py-5 align-items-center text-center">
        <div class="row py-2">
            <div class="col">
                <div class="spinner-border text-secondary" style="width: 5rem; height: 5rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.location.href = "/marks";
    </script>
</body>

</html>