<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/index.css">
    <link href="../static/signin.css" rel="stylesheet">
    <link rel="icon" href="../static/mapleleaf.png" type="image/gif" sizes="16x16">

    <title>Loading...</title>
</head>

<body>
    <div class="container-fluid py-5 align-items-center text-center">
        <div class="row py-2">
            <div class="col">
                <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.location.href = "/marks";
    </script>
</body>

</html>