<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/signin/signin.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png?v=E6waylrdrd">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png?v=E6waylrdrd">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png?v=E6waylrdrd">
    <link rel="manifest" href="/static/icons/site.webmanifest?v=E6waylrdrd">
    <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg?v=E6waylrdrd" color="#1fb3ad">
    <link rel="shortcut icon" href="/static/icons/favicon.ico?v=E6waylrdrd">
    <meta name="msapplication-TileColor" content="#5a8684">
    <meta name="msapplication-config" content="/static/icons/browserconfig.xml?v=E6waylrdrd">
    <meta name="theme-color" content="#5a8684">

    <title>Login - Fresh Maplewood</title>
</head>

<body class="text-center bg-primary">
    <form class="form-signin" action="/loading" method="POST">
        <img class="mb-4" src="/static/mapleleaf.png" alt="" width="25%" height="25%">
        <h1 class="h3 mb-3 font-weight-normal text-secondary">Fresh Maplewood</h1>
        <label for="input" class="sr-only">Username</label>
        <input type="text" id="inputUsername" name="inputUsername" class="form-control bg-primary text-secondary" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="inputPassword" class="form-control bg-primary text-secondary" placeholder="Password" required>
        {% if error %}
        <p class="mt-3 mb-4 text-danger">Invalid login. Please try again.</p>
        {% endif %}
        <button class="btn btn-lg btn-secondary btn-block mt-3 text-primary" type="submit">Sign in</button>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>